i2b2_HOST=i2b2-server
JBOSS_PORT=8080

i2b2_db_user_HIVE=i2b2hive
i2b2_db_pass_HIVE=demouser
i2b2_db_user_PM=i2b2pm
i2b2_db_pass_PM=demouser
i2b2_db_user_CRC=i2b2demodata
i2b2_db_pass_CRC=demouser
i2b2_db_user_ONT=i2b2metadata
i2b2_db_pass_ONT=demouser
i2b2_db_user_WORK=i2b2workdata
i2b2_db_pass_WORK=demouser
i2b2_db_user_IM=i2b2imdata
i2b2_db_pass_IM=demouser